<!DOCTYPE html>
<html ng-app="calc">
<head lang="en">
    <meta charset="UTF-8">
    <title>Belasting calculator</title>
    <script src="angular-1.3.0/angular.min.js"></script>
    <script src="angular-1.3.0/angular-route.js"></script>
    <script src="angular-1.3.0/angular-animate.js"></script>
    <script src="Calculator.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
<h1 align="center">Belasting calculator </h1>

<div ng-controller="MainCtrl">
    <form ng-submit="calculateTax()">
        <table align="center">
            <tr>
                <td>Belastbaar inkomen:</td>
                <td><input class="inputFld" type="number" name="inkomen" required min="0" ng-model="inkomen"></td>
            </tr>
            <tr>
                <td><strong>Aftrekposten:</strong></td>
            </tr>
            <tr>
                <td>Studiekosten:</td>
                <td><input class="inputFld" type="number" name="studiekosten" required min="0" ng-model="studiekosten">
                </td>
            </tr>
            <tr>
                <td> Giften:</td>
                <td><input class="inputFld" type="number" name="giften" required min="0" ng-model="giften"></td>
            </tr>
            <tr>
                <td> Ziektekosten:</td>
                <td><input class="inputFld" type="number" name="ziektekosten" required min="0" ng-model="ziektekosten">
                </td>
            </tr>
            <tr>
                <td>Koopwoning:</td>
                <td><input class="inputFld" type="number" name="koopwoning" required min="0" ng-model="koopwoning"></td>
            </tr>
            <tr>
                <td></td>
                <td align="right"> <input class="btn-primary" type="submit" value="Berekenen"></td>
            </tr>
        </table>

    </form>
    <br/>
    <br/>
    <div class="error" align="center" >{{status}}</div>
    <div  class="result" ng-show="checked" align="center" style="clear:both;" >
        Uw Inkomsten wordt berekend in {{schijf}}<br/>
        De voorlopige belastingteruggave: {{totalTax | currency: "€"}}<br/>
    </div>
</div>

</body>
</html>